spring:
  datasource:
    url: jdbc:postgresql://ec2-54-175-117-212.compute-1.amazonaws.com
    username: scuikpoiqezkth
    password: d5ba06b1bebbfc49c52a7c0f69e40d3147bb42366145ce9cf09cdbc3bdd79f60
  jpa:
    hibernate:
      ddl-auto: none
  application:
    name: auth-service
zuul:
  host:
    socket-timeout-millis: 60000
    connect-timeout-millis: 60000
  semaphore:
    max-semaphores: 500
  sensitive-headers: true

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 60000
management:
  endpoint:
    info:
      enabled: true
    shutdown:
      enabled: true

